name: Front-End Deployment
  
on:
#   push:
#     branches:
    workflow_run:
      workflows: ["Azure Web App Deployment"]
      types:
        - completed

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node.js and Build Frontend
        run: |
          cd frontend
          npm install
          npm run build
        shell: bash

  deploy-to-azure:
    runs-on: ubuntu-latest

    needs: build-and-deploy

    steps:
      - name: Deploy to Azure Web App (Frontend)
        shell: bash
        run: |
          working-directory: frontend
          azure/webapps-deploy@v2:
            app-name: pipeline-test-git
            publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
