name: Build and Deploy

env:
 AZURE_WEBAPP_NAME: pipeline-test-git
 DOTNET_VERSION: '6.0.x'
 NODE_VERSION: '16.x'

on:
 push:
   branches:
     - master

jobs:
 build:
   runs-on: ubuntu-latest

   steps:
   - name: Checkout code
     uses: actions/checkout@v2

   - name: Set up .NET Core
     uses: actions/setup-dotnet@v1
     with:
       dotnet-version: ${{ env.DOTNET_VERSION }}

   - name: Set up Node.js
     uses: actions/setup-node@v2
     with:
       node-version: ${{ env.NODE_VERSION }}

   - name: Npm clean
     run: |
       cd frontend
       npm cache clean --force

   - name: Npm install
     run: |
       cd frontend
       npm install --force

  #  - name: Npm run test
  #    run: |
  #      cd ${{ env.webUISourceDirectory }}
  #      npm run test:ci
  #    continue-on-error: true

  #  - name: Dotnet clean
  #    run: |
  #      cd Demoapi
  #      dotnet clean

   - name: Dotnet restore
     run: |
       cd Demoapi
       dotnet restore

   - name: Dotnet build
     run: |
       cd Demoapi
       dotnet build --configuration Release

   - name: Npm run build
     run: |
       cd frontend
       npm run build

   - name: Dotnet publish
     run: |
       cd ../Demoapi/
       ls
       dotnet publish --configuration Release --output ./publish
       working-directory: Demoapi

   - name: Upload artifact for deployment job
     uses: actions/upload-artifact@v2
     with:
       name: .net-app
       path: ./publish

 deploy:
   runs-on: ubuntu-latest
   needs: build

   steps:
   - name: Download artifact from build job
     uses: actions/download-artifact@v2
     with:
       name: .net-app

   - name: Deploy to Azure Web App
     uses: azure/webapps-deploy@v2
     with:
       app-name: ${{ env.AZURE_WEBAPP_NAME }}
       publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
       package: ./
