name: Azure Web App Deployment

on:
  push:
    branches: ["master"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Install Node.js Dependencies
        run: npm install

      - name: Build React App
        run: npm run build

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1

      - name: Build .NET App
        run: dotnet build

  deploy-to-azure:
    runs-on: ubuntu-latest

    needs: build-and-deploy

    steps:
      - name: Deploy to Azure Web App
        uses: Azure/webapps-deploy@v2
        with:
          app-name: pipeline-test-git
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
