name: Azure Web App Deployment

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Node.js and Build Frontend
        run: |
          cd frontend
          npm install
          npm run build
        shell: bash

      - name: Setup .NET and Build Backend
        run: |
          cd Demoapi
          dotnet build
        shell: bash

  deploy-to-azure:
    runs-on: ubuntu-latest

    needs: build-and-deploy

    steps:
      - name: Deploy to Azure Web App (Frontend)
        shell: bash
        run: |
          cd frontend
          working-directory: frontend
          azure/webapps-deploy@v2:
            app-name: pipeline-test-git
            slot-name: production
            publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}

      - name: Deploy to Azure Web App (Backend)
        shell: bash
        run: |
          cd Demoapi
          working-directory: Demoapi
          azure/webapps-deploy@v2:
            app-name: pipeline-test-git
            slot-name: production
            publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
